LOCAL_SERVICE_SERVER_PORT='port'
NODE_ENV='env'
NEW_RELIC='licence key'

DEV_DB_SOCKETPATH='/path/to/socket.sock'
DEV_DB_USER='username'
DEV_DB_PW='password'
DEV_DB='databaseName'

TEST_DB_SOCKETPATH='/path/to/socket.sock'
TEST_DB_USER='username'
TEST_DB_PW='password'
TEST_DB='databaseName'

DOCKER_DB_HOST=''
DOCKER_DB_PORT=
DOCKER_DB_USER=''
DOCKER_DB_PW=''
DOCKER_DB=''
